<template>
    <div class="avatar">
            <img class="avatarImage" src="/images/avatar.jpg" />
        <div class="text">
            <span class="user">{{username}}</span>
            <small class="myprofile">{{ $t('avatar.myprofile') }}</small>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
 
export default {
    computed: {
        username() {
            console.log('username', this.$store.state.user.public.username);
            return this.$store.state.user.public.username;
        }
    },
}
</script>

<style lang="scss">
    .avatar{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 1em;
        height: 100%;
        .text {
            display: flex;
            flex-direction: column;
        }
        .avatarImage {
            max-height: none;
            position: relative;
            border-radius: 50%;
            height: 2.5em;
            width: 2.5em;
            overflow: hidden;
            margin-right: 0.5em;
        }
    }

</style>