<template>
  <header class="header" :style="{height:headerHeight}">
    <nav ref="navbar" class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <nuxt-link :to="localePath('/')" class="navbar-item">
          <Logo></Logo>
        </nuxt-link>
        <nuxt-link :to="localePath('/')" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </nuxt-link>
      </div>
      <div class="navbar-menu">
          <NavGuest v-if="!authConnected"></NavGuest>
          <NavAuth v-if="authConnected"></NavAuth>
      </div>
    </nav>
  </header>
</template>

<script>
import NavAuth from './NavAuth';
import NavGuest from './NavGuest';
import Logo from '../svg/Logo';
import { mapGetters } from 'vuex';

export default {
  components: {
    Logo,
    NavAuth,
    NavGuest,
  },
  created() {
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll);
    }
  },
  destroyed() {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll);
    }
  },
  mounted() {
    this.updateHeaderHeight();
  },
  data() {
    return {
      headerHeight:0
    }
  },
  methods: {
    updateHeaderHeight () {
      this.headerHeight = this.$refs.navbar.clientHeight + 'px';
    },
    handleScroll (event) {
      this.updateHeaderHeight();
    },
    onSingInClick() {
      this.$bus.$emit('nav::singIn::click');
    },
    onLoginClick() {
      this.$bus.$emit('nav::login::click');
    },
  },
  computed: {
    ...mapGetters({
      authConnected: 'auth/connected'
    }),
  },
}
</script>

<style lang="scss">
  .bigLogo {
    height: 4em;
    width: 4em;
    margin: 0;
  }
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    clear:both;
  }
  .navbar {
    box-shadow: #5555553b 1px 3px 3px;
    width: 100%;
    position: fixed;
  }
</style>