<template>
  <div class="navbar-item has-dropdown is-hoverable">
    <p class="navbar-link" v-t="">
      {{ $t('flag') }}
    </p>
    <div class="navbar-dropdown">
      <nuxt-link v-for="locale in availableLocales"
        class="navbar-item"
        :key="locale.code"
        :to="switchLocalePath(locale)">
        {{ $t('flag', locale) }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    availableLocales () {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  }
}
</script>

