<template>
  <div class="navbar-menu">
    <div class="navbar-start">
      <nuxt-link :to="localePath('collection')" class="navbar-item">{{ $t('menu.collection') }}</nuxt-link>
      <div class="navbar-item has-dropdown is-hoverable">
        <nuxt-link :to="localePath('/')" class="navbar-link">{{ $t('menu.play') }}</nuxt-link>
        <div class="navbar-dropdown">
          <nuxt-link :to="localePath('/')" class="navbar-item">{{ $t('menu.play.join') }}</nuxt-link>
          <hr class="navbar-divider" />
          <nuxt-link :to="localePath('/')" class="navbar-item">{{ $t('menu.play.host') }}</nuxt-link>
        </div>
      </div>
      <nuxt-link :to="localePath('friends')" class="navbar-item">{{ $t('menu.friends') }}</nuxt-link>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable" >
        <nuxt-link :to="localePath('account')">
          <Avatar></Avatar>
        </nuxt-link>
        <div class="navbar-dropdown">
          <nuxt-link :to="localePath('/')" class="navbar-item">{{ $t('menu.play.join') }}</nuxt-link>
          <hr class="navbar-divider" />
          <a class="navbar-item" @click="$store.dispatch('auth/logout')">
            <b-icon icon="logout-variant" size="is-small"></b-icon>
            <span>{{ $t('menu.profil.logout') }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Avatar from './Avatar';

export default {
    components: {
        Avatar,
    }
}
</script>