<template>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a v-scroll-to="'#section1'" class="navbar-item">{{ $t('section.section1.nav') }}</a>
      <a v-scroll-to="'#section2'" class="navbar-item">{{ $t('section.section2.nav') }}</a>
      <a v-scroll-to="'#section3'" class="navbar-item">{{ $t('section.section3.nav') }}</a>
      <a v-scroll-to="'#authSection'" class="navbar-item">{{ $t('section.auth.nav') }}</a>
      <a v-scroll-to="'#section4'" class="navbar-item">{{ $t('section.section4.nav') }}</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" @click="onSingInClick">
            <strong>{{ $t('menu.signIn') }}</strong>
          </a>
          <a class="button is-light" @click="onLoginClick">{{ $t('menu.login') }}</a>
        </div>
      </div>
      <LocaleSelector></LocaleSelector>
    </div>
  </div>
</template>

<script>
import LocaleSelector from './LocaleSelector.vue';

export default {
    components: {
        LocaleSelector,
    }
}
</script>