<template>
    <section id="authSection" class="section-autentication hero is-primary ">
        <div class="hero-body container hero-body__small">
            <h2 class="title">{{$t('section.auth.title')}}</h2>
        </div>
        <div class="hero-body columns">
            <aside class="column">
                <SignIn></SignIn>
            </aside>
            <aside class="column">
                <Login></Login>
            </aside>
        </div>
    </section>
</template>

<script>
import SignIn from '../auth/SignIn';
import Login from '../auth/Login';

export default {
    components: {
        SignIn,
        Login,
    }
}
</script>

<style lang="scss">
    .section-autentication .hero-body__small {
        padding: 3rem 1.5rem 1em;
    }
    .section-autentication .title {
        text-shadow: #00d1b2 1px 1px 1px;
        font-size: 4em;
    }
</style>