<template>
  <section class="section" :id="id">
    <div class="container">
        <h1 class="title">Lorem Ipsum</h1>
        <h2 class="subtitle">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu metus vitae mi euismod hendrerit. Praesent ut ultricies erat. Nunc id tincidunt lectus, in aliquam tortor. Integer maximus luctus sem eget viverra. Sed eu malesuada sapien, eget tincidunt nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In mi neque, bibendum in egestas ac, placerat id nunc. Nam sit amet molestie sem. Vivamus non dolor vel augue mollis posuere ut quis ligula.</p>
        <p>Duis tristique risus a scelerisque pharetra. Sed laoreet libero vel mattis ornare. In nec magna mattis purus dignissim ullamcorper vel eget enim. Integer fringilla velit ut sodales ornare. Morbi vitae lacus ante. Ut quis mauris dapibus, suscipit lectus quis, feugiat eros. Phasellus ut auctor justo.</p>
        <p>Aliquam erat volutpat. Nam eros risus, vestibulum eget ultricies vitae, aliquet ut risus. Aenean sit amet quam tellus. Morbi dignissim elit sem, quis faucibus odio ullamcorper eget. Aenean vestibulum sit amet nisl in scelerisque. Ut nec pellentesque velit. Vestibulum vestibulum molestie turpis ac pharetra. Sed nunc lorem, mattis mattis sem et, iaculis sodales diam. Aenean fringilla lacus nec elit rutrum, ac suscipit odio molestie. Nulla id laoreet nibh, eget maximus diam. Mauris vestibulum lorem id est scelerisque viverra.</p>
        <p>Pellentesque molestie condimentum posuere. Sed dictum scelerisque commodo. Nunc et congue orci, vitae auctor quam. Integer mi dolor, pulvinar a semper sit amet, dictum quis dolor. Vivamus a augue at lorem feugiat facilisis quis a magna. Vivamus rhoncus ac tortor ut scelerisque. Donec mattis tincidunt orci, vel vulputate dui dignissim et. Sed consequat eu mauris sit amet egestas.</p>
    </div>
  </section>
</template>

<script>
export default {
  props: ['id']
}
</script>