<template>
  <div class="Logo">
    <svg viewBox="0 0 60 60" 
        xmlns="http://www.w3.org/2000/svg">
        <defs>
            <style>.cls-1{fill:none;}.cls-2{fill:currentColor;}</style>
        </defs>
        <title/>
        <g data-name="Layer" id="Layer">
            <g id="Icons">
                <g id="Gambling">
                    <rect class="cls-1" height="60" width="60"/>
                    <path class="cls-2" d="M12.63,14.77a1,1,0,0,0-.91,1.08l.09,1.08a1,1,0,0,0,1,.91h.09a1,1,0,0,0,.91-1.09l-.1-1.07A1,1,0,0,0,12.63,14.77Z"/>
                    <path class="cls-2" d="M51.23,34.21,48.82,31.8a12.45,12.45,0,0,0-8.58-20.64l.08-1.92A2.41,2.41,0,0,0,38,6.72L17.53,5.78A2.41,2.41,0,0,0,15,8.08L14.87,11l-4.67.41A2.41,2.41,0,0,0,8,14l3,33.85a2.43,2.43,0,0,0,2.62,2.2l13.82-1.21L32,53.45a2.65,2.65,0,0,0,1.18.68,2.61,2.61,0,0,0,1.36,0l12.24-3.28A2.61,2.61,0,0,0,48.63,49l3.28-12.23A2.66,2.66,0,0,0,51.23,34.21ZM47.42,30.4l-1.29-1.29a9,9,0,0,0,1.08-1.67l1.72.61A10.81,10.81,0,0,1,47.42,30.4ZM40,17a6.65,6.65,0,0,1,4.74,10.71l-2.44-2.44a2.65,2.65,0,0,0-2.54-.68l-.11,0Zm9.61,9.18-1.7-.61A9.14,9.14,0,0,0,48.09,23l1.78-.32A10.21,10.21,0,0,1,49.58,26.16Zm-.06-5.41-1.8.33a8.84,8.84,0,0,0-1.08-2.28L48,17.61A10.42,10.42,0,0,1,49.52,20.75Zm-5.63-6.63a10.65,10.65,0,0,1,2.86,2l-1.4,1.19a8.75,8.75,0,0,0-2.08-1.43ZM42,13.45l-.61,1.72A8.36,8.36,0,0,0,40.06,15l.08-1.8A10.29,10.29,0,0,1,42,13.45ZM17,8.17a.42.42,0,0,1,.44-.4l20.49,1a.41.41,0,0,1,.4.43l-.74,16-1,.27-1.2-13.76a2.43,2.43,0,0,0-2.62-2.2L16.88,10.84ZM13.41,48.09a.42.42,0,0,1-.45-.37L10,13.87a.42.42,0,0,1,.38-.45l22.57-2a.41.41,0,0,1,.44.38l1.24,14.12-3.34.89a5.77,5.77,0,0,0-.83-.88L23,19.7a1,1,0,0,0-1.41.12l-6.26,7.45a5.39,5.39,0,0,0,.41,7.43,5.28,5.28,0,0,0,4.59,1.22,5.75,5.75,0,0,1-1,1.35,1,1,0,0,0-.22,1.14A1,1,0,0,0,20,39h.09l3.09-.27L22.35,42A2.64,2.64,0,0,0,23,44.49L25.57,47ZM23.76,36.67l-1.63.14a6.49,6.49,0,0,0,.31-.59,1.72,1.72,0,0,0-.25-1.92,1.69,1.69,0,0,0-1.83-.47,3.25,3.25,0,0,1-3.28-.62,3.38,3.38,0,0,1-.2-4.65l5.61-6.69,6.61,5.55-1.61.43a2.63,2.63,0,0,0-1.86,1.86ZM46.7,48.47a.64.64,0,0,1-.45.45L34,52.2A.64.64,0,0,1,33.4,52l-8.95-9a.61.61,0,0,1-.17-.61l3.28-12.24a.64.64,0,0,1,.45-.45L40.24,26.5h0a.69.69,0,0,1,.32,0,.66.66,0,0,1,.29.17l9,9a.62.62,0,0,1,.17.61Z"/>
                    <path class="cls-2" d="M37,37.78l-5.21-5.2A1,1,0,1,0,30.35,34l5.21,5.2a1.15,1.15,0,0,1,.29,1.09l-1.91,7.11a1,1,0,0,0,.71,1.23,1.09,1.09,0,0,0,.26,0,1,1,0,0,0,1-.74l1.91-7.11A3.12,3.12,0,0,0,37,37.78Z"/>
                    <path class="cls-2" d="M46.39,36.87a1,1,0,0,0-1.22-.7L40.54,37.4a1,1,0,0,0-.7,1.23,1,1,0,0,0,1,.74,1.15,1.15,0,0,0,.26,0l4.62-1.24A1,1,0,0,0,46.39,36.87Z"/>
                    <path class="cls-2" d="M30.46,44.89a2.53,2.53,0,0,0,.6,2.23c.52.53,1.1.38,1.29-.34a2.53,2.53,0,0,0-.6-2.23C31.23,44,30.65,44.18,30.46,44.89Z"/>
                    <path class="cls-2" d="M29.73,37.62a2.53,2.53,0,0,0-.6-2.23c-.52-.52-1.1-.37-1.29.34a2.53,2.53,0,0,0,.6,2.23C29,38.49,29.54,38.34,29.73,37.62Z"/>
                    <path class="cls-2" d="M31,42.2a2.53,2.53,0,0,0-.6-2.23c-.52-.52-1.1-.37-1.29.34a2.53,2.53,0,0,0,.6,2.23C30.27,43.07,30.85,42.92,31,42.2Z"/>
                    <path class="cls-2" d="M40,33.27A.71.71,0,0,0,40.3,32a2.54,2.54,0,0,0-2.23-.6.7.7,0,0,0-.34,1.29A2.53,2.53,0,0,0,40,33.27Z"/>
                    <path class="cls-2" d="M46,39.92a2.54,2.54,0,0,0-1.63,1.64c-.19.71.24,1.13,1,.94A2.55,2.55,0,0,0,47,40.86C47.18,40.15,46.75,39.73,46,39.92Z"/>
                    <path class="cls-2" d="M39.18,46.55a2.55,2.55,0,0,0-1.63,1.63c-.19.71.24,1.13,1,.94a2.54,2.54,0,0,0,1.64-1.63C40.33,46.77,39.9,46.36,39.18,46.55Z"/>
                </g>
            </g>
        </g>
    </svg>
  </div>
</template>
<style>
.Logo {
  animation: 1s appear;
  margin: auto;
  height: 2em;
  width: 2em;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
