.bg-primary-striped {
    background-image: url('/images/stripe-primary.png');
    background-repeat: repeat;
}

.bg-primary-striped {
    background-image: url('/images/stripe-primary-secondary.png');
    background-repeat: repeat;
}

.bg-primary-invert {
    background-color: $primary-invert;
}