a[disabled=disabled] {
    color: $light;
    cursor: not-allowed;
    &.card-footer-item {
        color: $dark;
        background-color: $light;
        opacity: 0.5;
        box-shadow: none;
    }
}
a.card-footer-item {
    box-shadow: 0px -2px 6px #8c67ef52 inset;
}