<template>
    <div class="game-tile"
        :style="gameTileBackground">
        <h3 class="game-tile__title">{{game.title}}</h3>
        <div class="game-tile__number-of-player"
            v-if="numberOfPlayers">
            <b-icon type="account-multiple"></b-icon>
            <small>
                {{numberOfPlayers}}
            </small>
        </div>
        <p class="game-tile__desciption">{{game.desciption}}</p>
        <ul class="game-tile__lables" v-if="game.labels">
            <li v-for="label in game.labels" :key="label">
                {{label}}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: ['game'],
    computed: {
        gameTileBackground() {
            if (this.game.tileImage) {
                return `background-image: url('${this.game.tileImage}')`;
            } else {
                return `background-image: url('/image/defaultGameTile.png')`;
            }
        },
        numberOfPlayers() {
            if (this.game.minPlayer === this.game.maxPlayer) {
                return `${this.game.minPlayer}`;
            } else if (!isNaN(this.game.minPlayer) && !isNaN(this.game.maxPlayer)) {
                    return null;
            } else {
                return `${this.game.minPlayer} - ${this.game.maxPlayer}`;
            }
        }
    }
}
</script>

<style lang="sass">

</style>