<template>
  <div class="hum">
    <Header></Header>
    <div class="main-content">
      <nuxt />
    </div>
  </div>
</template>

<script>
import Header from '../components/header/Header.vue';

export default {
  components: {
    Header,
  },
}
</script>

