<template>
<div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
    <div>
        <h1>404</h1>
    </div>
</div>
</template>
