<template>
    <section class="container">
        <h1 class="title">
            {{t('page.myCollection.title')}}
        </h1>
        <div class="columns">
            <GameDefinitionTile v-for="game in myGames" :key="game"></GameDefinitionTile>
        </div>
    </section>
</template>

<script>
import { GameDefinitionTile } from "../components/collection/GameDefinitionTile.vue";

export default {
    middleware: 'authenticated',
    created() {
        
    },
    computed: {
        myGames() {

        }
    }
}
</script>
