<template>
    <div>
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">{{$t('page.friends.title')}}</h1>
                <h2 class="subtitle">{{$t('page.friends.subtitle')}}</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="columns">
                <div class="column columns">
                    <section class="section column">
                        <h2>{{$t('page.friends.list.title')}}</h2>
                        <div v-if="friends === null">
                            <b-icon
                                pack="fas"
                                icon="sync-alt"
                                type="is-primary"
                                custom-class="fa-spin">
                            </b-icon>
                        </div>
                        <div v-else-if="friends.length === 0">
                            <h3>{{$t('page.friends.addFrist.title')}}</h3>
                            <p>{{$t('page.friends.addFrist.body')}}</p>
                        </div>
                        <div v-else>
                            <div class="columns has-background-primary " >
                                <div class="column is-one-fifth">
                                    {{$t('page.friends.list.avatar')}}
                                </div>
                                <div class="column is-two-fifths">
                                    {{$t('page.friends.list.username')}}
                                </div>
                                <div class="column is-two-fifths">
                                    {{$t('page.friends.list.email')}}
                                </div>
                            </div>
                            <div class="columns" v-for="friend in friends" >
                                <div class="column is-one-fifth">
                                    {{friend.avatar}}
                                </div>
                                <div class="column is-two-fifths">
                                    {{friend.username}}
                                </div>
                                <div class="column is-two-fifths">
                                    {{friend.email}}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="column columus">
                    <section class="column">
                        <h2>{{$t('page.friends.addFriend.title')}}</h2>
                        <b-field :label="$t('page.friends.addFriend.field')">
                            <b-input v-model="addFriend"></b-input>
                        </b-field>
                    </section>
                    <section class="column">
                        <h2>{{$t('page.friends.addFriend.title')}}</h2>
                        <b-field :label="$t('page.friends.addFriend.field')">
                            <b-input v-model="addFriend"></b-input>
                        </b-field>
                    </section>
                    <section class="column">
                        <h2>{{$t('page.friends.sendRequest.title')}}</h2>
                        <b-field :label="$t('page.friends.addFriend.field')">
                            <b-input v-model="addFriend"></b-input>
                        </b-field>
                    </section>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    middleware: 'authenticated',
    created() {
        this.fetchFriends({
            callback: this.onFetchFriends
        });
    },
    methods: {
        onFetchFriends(erros) {
            console.log('onFetchFriends', erros)
        },
        ...mapActions({
            fetchFriends : 'friends/fetchFriends',
            sendInvite : 'friends/sendInvite',
            acceptInvite : 'friends/acceptInvite',
            declineInvite : 'friends/declineInvite',
        })
    },
    computed: {
        ...mapGetters({
            friends: 'friends/friendsProfile',
        })
    },
    nuxtI18n: {
        paths: {
            en: '/friends', 
            fr: '/amis',
        }
    }
}
</script>
