<template>
  <div>
    <LoremIpsum id="section1"></LoremIpsum>
    <LoremIpsum id="section2"></LoremIpsum>
    <LoremIpsum id="section3"></LoremIpsum>
    <Authentication></Authentication>
    <LoremIpsum id="section4"></LoremIpsum>
  </div>
</template>

<script>
import Authentication from '../components/sections/Authentication';
import LoremIpsum from '../components/sections/LoremIpsum';

export default {
  components: {
    LoremIpsum,
    Authentication,
  }
}
</script>

