<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title has-text-grey">
        {{$t('login.title')}}
      </p>
    </header>
    <div class="card-content">
      <b-field :label="$t('input.email')">
          <b-input type="email"
            ref="firstInput"
            maxlength="30"
            v-model="email"></b-input>
      </b-field>
      <b-field :label="$t('input.password')">
          <b-input type="password"
            maxlength="30"
            v-model="password"
            password-reveall
            @keyup.native.enter="login"
          ></b-input>
      </b-field>
      <b-field
        type="is-danger"
        
        :message="errorMessages" >
      </b-field>
    </div>
    <div class="card-footer">
      <a class="card-footer-item"
        tabindex="0"
        :disabled="!isValid"
        @click="login">
        {{$t('login.button')}}
      </a>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      email: null,
      password: null,
      errorMessages: null,
    };
  },
  created() {
    this.$bus.$on('nav::login::click', this.onLoginNavClick);
  },
  methods: {
    ...mapActions({
        authLogin: 'auth/login'
    }),
    onLoginNavClick() {
      this.$el.querySelector('input').focus();
      this.$scrollTo('#authSection');
    },
    login() {
      if (this.isValid) {
        this.authLogin({
          email: this.email,
          password: this.$crypto.sha256(this.password),
          callback: this.callback,
        });
      }
    },
    callback(errorMessages)  {
      if (errorMessages) {
        this.errorMessages = errorMessages.map((error) => this.$t(error));
      }
    }
  },
  computed: {
    isValid() {
      return !!this.email && !!this.password;
    }
  }
}
</script>
