<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title has-text-grey">
        {{$t('signin.title')}}
      </p>
    </header>
    <div class="card-content">
      <b-field :label="$t('input.username')"
        :type="getFieldType(usernameErrorMessage) || ''"
        :message="usernameErrorMessage"
        >
          <b-input maxlength="30" v-model="username"></b-input>
      </b-field>
      <b-field :label="$t('input.email')"
        :type="getFieldType(emailErrorMessage) || ''"
        :message="emailErrorMessage">
          <b-input
            type="email"
            maxlength="30"
            v-model="email"
            ></b-input>
      </b-field>
      <b-field :label="$t('input.password')"
        class="is"
        :type="passwordFieldType"
        :message="passwordErrorMessages || ''" >
          <b-input
            type="password"
            maxlength="30"
            minlength="8"
            v-model="password"
            password-reveal
            ></b-input>
      </b-field>
      <b-field :label="$t('input.passwordConfirmation')"
        :type="getFieldType(passwordConfirmationErrorMessages) || ''"
        :message="passwordConfirmationErrorMessages" >
          <b-input
            type="password"
            maxlength="30"
            v-model="passwordConfirmation"
            @keyup.native.enter="signIn"
            password-reveal
            ></b-input>
      </b-field>
      <b-field
        type="is-danger"
        :message="errorMessages" >
      </b-field>
    </div>
    <div class="card-footer">
      <a class="card-footer-item"
        tabindex="0"
        :disabled="!isValid"
        @click="signIn">
        {{$t('signin.button')}}
      </a>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      username: null,
      email: null,
      password: null,
      passwordConfirmation: null,
      errorMessages: null,
    }
  },
  created() {
    this.$bus.$on('nav::singIn::click', this.onSignInNavClick);
  },
  destroyed() {
    this.$bus.$off('nav::singIn::click', this.onSignInNavClick);
  },
  methods: {
    ...mapActions({
        authSignIn: 'auth/signIn'
    }),
    onSignInNavClick() {
      this.$el.querySelector('input').focus();
      this.$scrollTo('#authSection');
    },
    signIn() {
      if (this.isValid) {
        this.authSignIn({
          username: this.username,
          email: this.email,
          password: this.$crypto.sha256(this.password),
          callback: this.callback,
        });
      }
    },
    callback(errorMessages) {
      if (errorMessages) {
        this.errorMessages = errorMessages.map((error) => this.$t(error));
      }
    },
    getFieldType(errorMessages) {
      if (errorMessages === null) {
        return '';
      } else if (errorMessages.length === 0) {
        return 'is-success';
      } else {
        return 'is-active';
      }
    },
    hasError(errorMessages) {
      if (!errorMessages) {
        return !!errorMessages;
      } else {
        return errorMessages.length > 0;
      }
    }
  },
  computed: {
    usernameErrorMessage() {
      if (!this.username) {
        return null;
      }
      var errors = [];
      if (this.username.length < 4) {
        errors.push(this.$t('input.username.requirement.length'));
      }
      if (this.username.search(/^[a-zA-Z0-9-_]+$/) === -1) {
        errors.push(this.$t('input.username.requirement.word'));
      }
      return errors;
    },
    emailErrorMessage() {
      if (!this.email) {
        return null;
      }
      if (this.email.search(/^[a-z][a-z.-_+]+@\w+\.[a-z]{2,4}$/) !== 0) {
        return [this.$t('input.email.requirement.valid')]
      }
      return [];
    },
    hasPasswordLowerCase() {
      return this.password && this.password.search(/[a-z]/) !== -1
    },
    hasPasswordLowerUpper() {
      return this.password && this.password.search(/[A-Z]/) !== -1
    },
    hasPasswordNumber() {
      return this.password && this.password.search(/[0-9]/) !== -1
    },
    hasPasswordSpecial() {
      return this.password && this.password.search(/[^A-Za-z0-9]/) !== -1
    },
    hasPasswordRequiredLength() {
      return this.password && this.password.length > 7;
    },
    passwordFieldType() {
      if (this.isValidPassword) {
      console.log('passwordFieldType valid')
        return 'is-success';
      } else if (!this.password) {
        return '';
      }
      console.log('passwordFieldType warning')
      return ''
    },
    passwordErrorMessages() {
      var errors = [];
      if (!this.password) {
        return errors;
      }
      if (!this.hasPasswordLowerCase) {
        errors.push(this.$t('input.password.requirement.containLowerCase'))
      }
      if (!this.hasPasswordLowerUpper) {
        errors.push(this.$t('input.password.requirement.containUpperCase'))
      }
      if (!this.hasPasswordNumber) {
        errors.push(this.$t('input.password.requirement.containNumber'))
      }
      if (!this.hasPasswordSpecial) {
        errors.push(this.$t('input.password.requirement.containSpecial'))
      }
      if (this.hasPasswordLowerCase + this.hasPasswordLowerUpper + this.hasPasswordNumber + this.hasPasswordSpecial > 2) {
        errors = [];
      }
      if (!this.hasPasswordRequiredLength) {
        errors.push(this.$t('input.password.requirement.length8'))
      }
      return errors;
    },
    isValidPassword() {
      return (this.hasPasswordLowerCase + this.hasPasswordLowerUpper + this.hasPasswordNumber + this.hasPasswordSpecial) > 2
        && this.hasPasswordRequiredLength;
    },
    passwordConfirmationErrorMessages() {
      if (!this.passwordConfirmation) {
        return null;
      }
      if (this.passwordConfirmation !== this.password) {
        return [this.$t('input.passwordConfirmation.requirement.sameAsPassword')];
      }
      return [];
    },
    isValid() {
      return !!this.username
        && !this.hasError(this.passwordErrorMessages)
        && !this.hasError(this.usernameErrorMessage)
        && !this.hasError(this.emailErrorMessage)
        && !this.hasError(this.passwordConfirmationErrorMessages);
    },
  }
}
</script>